@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap');

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../public//assets/images/background-header-2.jpg);
    background-position-x: center;
    background-position-y: 100%;
    background-repeat: no-repeat;
    height: 90vh;
    margin-bottom: 90px;
    position: relative;
}

.header::after {
    content: '';
    width: 100%;
    border-bottom: 10px dashed black;
    position: absolute;
    bottom: -20px;
}

.headerh1 {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Space Grotesk', sans-serif;
    color: #fff;
}